
.header{
    width: 100%;
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.header__left{
    color: #000080;
    margin-left: 30px;
}

.header__right{
    margin-right: 50px;
}

li{
    font-weight: bold;
    display: inline-block;
    margin-left: 25px;
}

a{
    text-decoration: none;
    color: #000080;
}

body{
    margin: 0;
}

.main{
    position: relative;
}

.main__img{
    width: 50%;
    margin: 5% 0 0 auto;
    display: block;
}

.main__text{
    font-size: 65px;
    position: absolute;
    top: 43%;
}

.main__bluebox{
    background-color: #000080;
    width: 75%;
    height: 40%;
    position: absolute;
    top: 79%;
    z-index: -10;
}

