
.header{
    width: 100%;
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.header__left{
    color: #000080;
    margin-left: 30px;
}

.header__right{
    margin-right: 50px;
}

li{
    font-weight: bold;
    display: inline-block;
    margin-left: 25px;
}

a{
    text-decoration: none;
    color: #000080;
}

body{
    margin: 0;
    height: 100vh;
}

img{
    width: 50%;
    position: absolute;
    right: 0;
    z-index: 10;
}

.main{
    font-size: 50px;
    width: 100vw;
    height: 100vh;
    
}

.text{
    font-size: 70px;
    padding-top: 20%;
    z-index: -10;
}

.bluebox{
    background-color:#000080;
    width: 75vw;
    height: 25vh;
    z-index: 0;
    position: absolute;
    top: 60%;
}



